/* * Page */
#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

/* * Aside */
#page-map aside {
  width: 450px;
  height: 100%;
  background: var(--background-gradient);
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#page-map aside {
  max-width: 350px;
  padding: 2rem;
}
#page-map aside h1 {
  font-size: 48px;
  font-weight: 800;
  line-height: 42px;
  margin-top: 42px;
}
#page-map aside p {
  margin-top: 24px;
  line-height: 28px;
}
#page-map aside footer {
  display: flex;
  flex-direction: column;
  line-height: 24px;
}
#page-map aside footer strong {
  font-weight: 800;
}

/* * Map */
#page-map .map {
  width: 100%;
  height: 100%;
  position: relative;
}
#page-map .map-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-icon-light);
  border-radius: 28px;
  box-shadow: none;
}
#page-map .map-popup .leaflet-popup-content {
  color: var(--color-blue);
  font-size: 20px;
  font-weight: bold;
  margin: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* - Map marker */
#page-map .map-popup .leaflet-popup-content a {
  position: unset;
  width: 48px;
  height: 48px;
  /*background: var(--color-blue); */
  box-shadow: 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
  border-radius: 12px;
}
#page-map .map-popup .leaflet-popup-tip-container {
  display: none;
}

/* * Overwriting Happy Button CSS */
#page-map .happy-button {
  position: absolute;
  right: 2rem;
  bottom: 2rem;
  z-index: 10;
}
